<ol class="breadcrumb">
  <li>
    <a href="/#/">Resources list</a>
  </li>
  <li>
    <a href="/#/resources/{{ resourceType }}">{{ resourceTypeLabel }}s</a>
  </li>
  <li>
    <a href="/#/resources/{{ resourceType }}/{{resourceLogicalId}}">{{resourceLabel}}</a>
  </li>
</ol>
<h1>{{ resourceTypeLabel }} <small>{{ resourceLabel }}</small></h1>
<ul class="nav nav-tabs">
  <li>
    <a href="/#/resources/{{ resourceType }}/{{resourceLogicalId}}">Show</a>
  </li>
  <li class="active"><a href="#">Edit</a></li>
  <li>
    <a href="/#/resources/{{ resourceType }}/{{resourceLogicalId}}/validate">Validation</a>
  </li>
  <li>
    <a href="/#/resources/{{ resourceType }}/{{resourceLogicalId}}/history">History</a>
  </li>
</ul>
<div ng-controller="ResourcesEditCtrl">
  <div ng-include="'views/shared/_rest_address.html'"></div>

  <fs-form-for model="resource" ng-submit="save()"
               ng-controller="ResourcesFormCtrl"
               class="resource-edit-container">
    <fieldset class="form-horizontal">
      <fs-input as="text" name="prettyData"
                required="true" label="JSON"></fs-input>
    </fieldset>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit"
               value="Save"
               class="btn btn-primary"/>
      </div>
    </div>
  </fs-form-for>

  <div ng-include="'views/shared/_content_location.html'"></div>
</div>
