<div ng-include="'/views/shared/_rest_address.html'"></div>
<div ng-if="error" class="alert alert-danger">
  {{error | json}}
</div>

<textarea style="min-height: 1000px;"
  ui-codemirror="{mode: 'javascript', lineWrapping: true, lineNumbers: true, json: true}"
  ng-model='resource.content'></textarea>

<div class="btns">
  <button ng-click="save()" class="btn btn-success">Save</button>
  <button class="btn btn-info">Validate</button>
  <span class="progress">
    {{progress | json}}
  </span>
</div>
