<div class="row">
  <div class="col-xs-4">
    <h3> Conformance </h3>
    <hr/>
    <ul>
      <li ng-repeat="(k,v) in conformance">
      <b>{{k}}</b>  {{v | json}}
      </li>
    </ul>
    <br/>
  </div>
  <div class="col-xs-8">
    <h3> Rest Resources </h3>
    <hr/>
    <table class="table">
      <thead>
        <tr>
          <th> Type </th>
          <th> History </th>
          <th> Update/Create </th>
          <th> Search </th>
          <th> Operations </th>
        </tr>
      </thead>
      <tr ng-repeat="item in resources">
        <th> <a href="#/resources/{{item.type}}">{{item.type}}</a></th>
        <td> {{item.readHistory}}</td>
        <td> {{item.updateCreate}}</td>
        <td> {{item.searchInclude}}</td>
        <td>
          <b ng-repeat="op in item.operation"> {{op.type}} </b>
        </td>
      </tr>
    </table>
  </div>
</div>
