<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <h1>
          <span class="icon" style="color: gold;">&#x4C;</span>

          FHIRPlace<sup>Live Demo</sup> </h1>
        <h3> FHIR server implementation based on FHIR base</h3>
      </div>
      <div class="col-xs-4 buttons">
        <h1>
          <a href="https://github.com/fhirbase/fhirplace"
            class="btn btn-default btn-lg">
            <big class="fa fa-github"></big> Source Code
          </a>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row boxes">
    <div class="col-xs-4">
      <h2> <big class="fa fa-sitemap"></big> Database Schema</h2>
      <p>
        Start with exploring <a href="#/schema"><strong>Database Schema</strong></a>.
        Here you can get better understanding on how FHIR resources are stored
        in a relational database.
      </p>
    </div>
    <div class="col-xs-4">
      <h2> <big class="fa fa-save"></big> Resource Data</h2>
      On <a href="#/resources"><strong>Resource Data</strong></a> page you can store
      FHIR resources into a demo database. You can use preloaded examples from FHIR
      distribution or upload your own resources in JSON format.
    </div>
    <div class="col-xs-4">
      <h2> <big class="fa fa-search"></big> Queries</h2>
      At last, visit <a href="#/queries"><strong>Queries</strong></a> page and learn how you can
      access these resources.  Here you can get some practice in preparing and executing arbitrary
      queries on a demo database.
    </div>
  </div>
</div>
