<div class="container">
  <h1>
    <span class="icon" style="color: red;">&#x4C;</span>
    FHIRplace
    <small>FHIR server implementation, postgresql enhanced</small>
  </h1>
  <hr/>
  <div class="row boxes">
    <div class="col-xs-4">
      <h2> <big class="fa fa-sitemap"></big> Based on Postgresql</h2>
      <p>
      Start with exploring <a href="#/schema"><strong>Database Schema</strong></a>.
      Here you can get better understanding on how FHIR resources are stored
      in a relational database.
      </p>
    </div>
    <div class="col-xs-4">
      <h2> <big class="fa fa-search"></big> Advanced Queries</h2>
      At last, visit <a href="#/queries"><strong>Queries</strong></a> page and learn how you can
      access these resources.  Here you can get some practice in preparing and executing arbitrary
      queries on a demo database.
    </div>
    <div class="col-xs-4">
      <h2> <big class="fa fa-save"></big> Writen in clojure</h2>
      On <a href="#/resources"><strong>Resource Data</strong></a> page you can store
      FHIR resources into a demo database. You can use preloaded examples from FHIR
      distribution or upload your own resources in JSON format.
    </div>
  </div>
</div>
