{:test {:db {:subprotocol "postgresql"
             :subname "//127.0.0.1:5433/fhirbase"
             :user "vagrant"}
        :host "localhost"
        :protocol "http"
        :port 8889}

 :dev {:db {:subprotocol "postgresql"
            :subname "//127.0.0.1:5433/fhirbase"
            :user "vagrant"}
       :host "localhost"
       :protocol "http"
       :port 8889}}
