<fs-form-for model="resource" ng-submit="save()"
             ng-controller="ResourcesFormCtrl">
  <fieldset class="form-horizontal">
    <fs-input as="text" name="prettyData"
              required="true" label="JSON"></fs-input>
  </fieldset>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit"
             value="Save"
             class="btn btn-primary"/>
      <a class="btn btn-default"
         href="/#/resources/{{ resourceType }}">Cancel</a>
      <!-- <button ng-click="validate()" type="submit" -->
      <!--         class="btn btn-success">Validate</button> -->
      <a ng-click="validate()" class="btn btn-success">Validate</a>
    </div>
  </div>
<pre>POST {{ validateUri }}</pre>
<pre>{{ resourceValidation }}</pre>
</fs-form-for>
