<fs-form-for model="resource" ng-submit="save()"
             ng-controller="ResourcesFormCtrl">
  <fieldset class="form-horizontal">
    <fs-input as="text" name="json" required="true" label="JSON"></fs-input>
  </fieldset>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit"
             value="Save"
             class="btn btn-primary"/>
      <a class="btn btn-default"
         href="/#/resources/{{ resourceType }}">Cancel</a>
    </div>
  </div>
</fs-form-for>
