<ol class="breadcrumb">
  <li><a href="/#/">Resources list</a></li>
</ol>
<h1>{{ resourceTypeLabel }}'s list</h1>
<pre>GET /{{ resourceType }}/_search?_format=application/json</pre>
<p>
  <a href="/#/resources/{{ resourceType }}/new"
     class="btn btn-primary">New {{ resourceTypeLabel }}</a>
</p>
<table ng-if="resources">
  <thead>
    <tr>
      <th>logicalId</th>
      <th>versionId</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="resource in resources">
      <td>
        <a href="/#/resources/{{ resourceType }}/{{ resource.logicalId }}">
          {{ resource.logicalId }}
        </a>
      </td>
      <td>{{ resource.versionId }}</td>
      <td><pre>{{ resource.data }}</pre></td>
    </tr>
  </tbody>
</table>
