<div ng-include="'views/resources/_breadcrumbs.html'"></div>
<h1>{{ resourceTypeLabel }} <small>{{ resourceLabel }}</small></h1>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Show</a>
  </li>
  <li>
    <a href="/#/resources/{{ resourceType }}/{{resourceLogicalId}}/edit">Edit</a>
  </li>
  <li>
    <a href="/#/resources/{{ resourceType }}/{{resourceLogicalId}}/history">History</a>
  </li>
</ul>
<p>
  <div ng-include="'views/shared/_rest_address.html'"></div>
  <p class="patients-actions-container btn-group">
    <button ng-controller="ResourcesDestroyCtrl" ng-click="destroy()"
            type="submit" class="btn btn-danger">Destroy</button>
  </p>

  <h2>ContentLocation</h2>
  <pre>{{ resourceContentLocation }}</pre>

  <h2>JSON</h2>
  <pre>{{ resource.prettyData }}</pre>
</p>
